
header {
  border-radius: 0px 0px 0px 0px;
  border-bottom: 5px double;
  position: relative;
}







.md-typeset h1{
  text-decoration: underline solid var(--md-hl-color);
  color: var(--md-hl-color);
  font-weight: 1000;
}
.md-typeset h2{
  text-decoration: underline solid var(--md-h2-color);
  color: var(--md-h2-color);
  font-weight: 1000;
}
.md-typeset h3{
  font-weight: 1000;
  color: var(--md-h3-color);
}
.md-typeset h4{
  font-weight: bolder;
  color: var(--md-h4-color)
}
.md-typeset h5{
  font-weight:  1000;
  color: var(--md-h4-color)
}
.md-typeset h6{
  font-weight: 500;
  color: var(--md-h4-color)
}

table {
  border-collapse: collapse;
}

tr {
  background-color: var(--md-mid-color);
  font-size: medium;
}

a {
  font-weight: 700;
  color: var(--md-typeset-a-color);
}

a:visited {
  color: var(--md-a-visited-color);
  
}

a:hover {
  text-decoration: underline;
  text-decoration: underline solid var(--md-a-line-color);
}

:root {
  --md-admonition-icon--pied-piper: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M244 246c-3.2-2-6.3-2.9-10.1-2.9-6.6 0-12.6 3.2-19.3 3.7l1.7 4.9zm135.9 197.9c-19 0-64.1 9.5-79.9 19.8l6.9 45.1c35.7 6.1 70.1 3.6 106-9.8-4.8-10-23.5-55.1-33-55.1zM340.8 177c6.6 2.8 11.5 9.2 22.7 22.1 2-1.4 7.5-5.2 7.5-8.6 0-4.9-11.8-13.2-13.2-23 11.2-5.7 25.2-6 37.6-8.9 68.1-16.4 116.3-52.9 146.8-116.7C548.3 29.3 554 16.1 554.6 2l-2 2.6c-28.4 50-33 63.2-81.3 100-31.9 24.4-69.2 40.2-106.6 54.6l-6.3-.3v-21.8c-19.6 1.6-19.7-14.6-31.6-23-18.7 20.6-31.6 40.8-58.9 51.1-12.7 4.8-19.6 10-25.9 21.8 34.9-16.4 91.2-13.5 98.8-10zM555.5 0l-.6 1.1-.3.9.6-.6zm-59.2 382.1c-33.9-56.9-75.3-118.4-150-115.5l-.3-6c-1.1-13.5 32.8 3.2 35.1-31l-14.4 7.2c-19.8-45.7-8.6-54.3-65.5-54.3-14.7 0-26.7 1.7-41.4 4.6 2.9 18.6 2.2 36.7-10.9 50.3l19.5 5.5c-1.7 3.2-2.9 6.3-2.9 9.8 0 21 42.8 2.9 42.8 33.6 0 18.4-36.8 60.1-54.9 60.1-8 0-53.7-50-53.4-60.1l.3-4.6 52.3-11.5c13-2.6 12.3-22.7-2.9-22.7-3.7 0-43.1 9.2-49.4 10.6-2-5.2-7.5-14.1-13.8-14.1-3.2 0-6.3 3.2-9.5 4-9.2 2.6-31 2.9-21.5 20.1L15.9 298.5c-5.5 1.1-8.9 6.3-8.9 11.8 0 6 5.5 10.9 11.5 10.9 8 0 131.3-28.4 147.4-32.2 2.6 3.2 4.6 6.3 7.8 8.6 20.1 14.4 59.8 85.9 76.4 85.9 24.1 0 58-22.4 71.3-41.9 3.2-4.3 6.9-7.5 12.4-6.9.6 13.8-31.6 34.2-33 43.7-1.4 10.2-1 35.2-.3 41.1 26.7 8.1 52-3.6 77.9-2.9 4.3-21 10.6-41.9 9.8-63.5l-.3-9.5c-1.4-34.2-10.9-38.5-34.8-58.6-1.1-1.1-2.6-2.6-3.7-4 2.2-1.4 1.1-1 4.6-1.7 88.5 0 56.3 183.6 111.5 229.9 33.1-15 72.5-27.9 103.5-47.2-29-25.6-52.6-45.7-72.7-79.9zm-196.2 46.1v27.2l11.8-3.4-2.9-23.8zm-68.7-150.4l24.1 61.2 21-13.8-31.3-50.9zm84.4 154.9l2 12.4c9-1.5 58.4-6.6 58.4-14.1 0-1.4-.6-3.2-.9-4.6-26.8 0-36.9 3.8-59.5 6.3z"/></svg>')
}
.md-typeset .admonition.pied-piper,
.md-typeset details.pied-piper {
  border-color: rgb(43, 155, 70);
}
.md-typeset .pied-piper > .admonition-title,
.md-typeset .pied-piper > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .pied-piper > .admonition-title::before,
.md-typeset .pied-piper > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--pied-piper);
          mask-image: var(--md-admonition-icon--pied-piper);
}



[data-md-color-scheme="light"] {
  --md-hl-color:                #a472dd;
  --md-h2-color:                #8567d1;
  --md-h3-color:                #7d68db;
  --md-h4-color:                #8082e2;
  --md-mid-color:             #ad8ff827;

  --md-typeset-a-color:         #785ab1;
  --md-a-line-color:         #a07cf386;
  --md-a-visited-color: #5c5db6;
  --md-a-visited-line-color: #6b6dc586;

  --md-default-bg-color:        #d6d1e6;
  --md-typeset-color:           #493480;

  --md-default-fg-color--light:  #8082e2;
  --md-default-fg-color--lighter:  #a599e6;
  --md-default-fg-color--lightest: #cfbbffd2;

  --md-primary-fg-color:        #a28acf;
  --md-primary-bg-color:        #d6d1e6;
  --md-accent-fg-color:         #a380e2;
  --md-accent-bg-color:         #a380e2;
  --md-default-fg-color:        #8a68e6c2;


  --md-code-hl-number-color:           hsla(0, 67%, 50%, 1);
  --md-code-hl-special-color:          hsla(340, 83%, 47%, 1);
  --md-code-hl-function-color:         hsla(291, 45%, 50%, 1);
  --md-code-hl-constant-color:         hsla(250, 63%, 60%, 1);
  --md-code-hl-keyword-color:          hsla(219, 54%, 51%, 1);
  --md-code-hl-string-color:           hsla(150, 63%, 30%, 1);
  --md-code-hl-name-color:             var(--md-code-fg-color);
  --md-code-hl-operator-color:         var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color:      var(--md-default-fg-color--light);
  --md-code-hl-comment-color:          var(--md-default-fg-color--light);
  --md-code-hl-generic-color:          var(--md-default-fg-color--light);
  --md-code-hl-variable-color:         var(--md-default-fg-color--light);

  --md-typeset-table-color:     #8082e2;

  --md-code-bg-color:         #6b4cb927;   
  --md-code-fg-color:           #65568a;

  --md-admonition-fg-color:     #534cb99d;
  --md-admonition-bg-color:     #d6d1e6;

  --md-typeset-kbd-color: #cfbbff;
  --md-typeset-kbd-accent-color:       #af95e5;
  --md-typeset-kbd-border-color:       #977ad6;
}

[data-md-color-scheme="dark"] {
  --md-hl-color:                #ad78e9;
  --md-h2-color:                #9474e7;
  --md-h3-color:                #9280e2;
  --md-h4-color:                #8082e2;
  --md-mid-color:             #ad8ff827;

  --md-typeset-a-color:         #c599ee;
  --md-a-line-color:         #bc8be986;
  --md-a-visited-color: #7071db;
  --md-a-visited-line-color: #8082e286;

  --md-default-bg-color:        #241f31;
  --md-typeset-color:           #d6d1e6;

  --md-default-fg-color--light:  #9580e2;
  --md-default-fg-color--lighter:  #aea0ff;
  --md-default-fg-color--lightest: #402c66;
  
  --md-primary-fg-color:        #402c66;
  --md-primary-bg-color:        #9d8ad8;
  --md-accent-fg-color:         #a380e2;
  --md-accent-bg-color:         #a380e2;
  --md-default-fg-color:        #dbafffb7;

  

  --md-primary-fg-color--light:        #ff0000;
  --md-primary-fg-color--dark:       #fffb00;
  --md-primary-bg-color--light: #d6d1e6;

  --md-code-hl-number-color:           hsla(0, 67%, 50%, 1);
  --md-code-hl-special-color:          hsla(340, 83%, 47%, 1);
  --md-code-hl-function-color:         hsla(291, 45%, 50%, 1);
  --md-code-hl-constant-color:         hsla(250, 63%, 60%, 1);
  --md-code-hl-keyword-color:          hsla(219, 54%, 51%, 1);
  --md-code-hl-string-color:           hsla(150, 63%, 30%, 1);
  --md-code-hl-name-color:             var(--md-code-fg-color);
  --md-code-hl-operator-color:         var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color:      var(--md-default-fg-color--light);
  --md-code-hl-comment-color:          var(--md-default-fg-color--light);
  --md-code-hl-generic-color:          var(--md-default-fg-color--light);
  --md-code-hl-variable-color:         var(--md-default-fg-color--light);

  --md-typeset-table-color:     #8082e2;

  --md-code-bg-color:         #2d33686b;    
  --md-code-fg-color:           #d6d1e6;

  --md-admonition-fg-color:     #83a4ffc2;
  --md-admonition-bg-color:       #241f31;

  --md-typeset-del-color: #000FFF;
  --md-typeset-ins-color: #000FFF;

  --md-typeset-mark-color: #000FFF;

  --md-typeset-kbd-color: #5d4d86;
  --md-typeset-kbd-accent-color:       #5c3e9b;
  --md-typeset-kbd-border-color:       #463077;
}